:root {
  --bgcolor: #fff;
  --color-text: #212121;
  --hover-focus: #2196f3;
  --color-nav: #212121;
  --header-footer: #2f303a;
}

body {
  font-family: roboto;
  color: var(--color-text);
  background-color: var(--bgcolor);
}

/* Сбросс отступов */
h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}
/* Свойства контейнера */
.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  /* outline: 1px solid red; */
}
.all-nav {
  display: flex;
  align-items: center;
}
.border {
  border-bottom: 1px solid #ececec;
}
/* Декоративная полоса под header */
.head-border {
  border-bottom: 1px solid #ececec;
}
/* Начало оформления лого */
.logo {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
  font-size: 26px;
  font-family: raleway;
  text-decoration: none;
  color: var(--color-text);
}
.logo-web {
  display: flex;
  font-size: 26px;
  font-family: raleway;
  color: var(--hover-focus);
}
.logo-footer {
  color: var(--bgcolor);
  padding-top: 60px;
}
/* Конец оформления лого */
.nav-list {
  display: flex;
  margin-left: 93px;
}

.nav-link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  /* outline: 1px solid red; */
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  line-height: 1.14;
  color: var(--color-nav);
}
.border {
  border-bottom: 1px solid #ececec;
}

.nav-list .nav-item + .nav-item {
  margin-left: 50px;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--hover-focus);
}
.list {
  list-style: none;
}
.color-g {
  color: #757575;
}
.back-color {
  background-color: var(--header-footer);
}
.contact {
  margin-left: auto;
}
.hero {
  text-align: center;
  margin-bottom: 30px;

  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.36;
  color: var(--bgcolor);
}
.order-service {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  background-color: var(--hover-focus);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 32px;
  font-family: roboto;
  cursor: pointer;
  letter-spacing: 0.06em;
}
.order-service:hover,
.order-service:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.order-service:active {
  color: var(--color-text);
  background-color: #f5f4fa;
}
/* класс скрытия элемента */
.hide {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.diff-company {
  display: flex;
  margin-top: 94px;
  margin-bottom: 94px;
}
.diff-company .hero-item + .hero-item {
  margin-left: 30px;
}
.hero-list {
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.hero-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}
.head-style {
  text-align: center;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
}
.works-list {
  display: flex;
  margin-bottom: 94px;
}
.work-pic {
  width: calc((100%-60px) / 3);
}
.team-header {
  padding-top: 94px;
}
.team-list {
  display: flex;
  margin-bottom: 94px;
}
.team-item {
  width: calc((100%-90px) / 4);
}
.team {
  text-align: center;
  padding-top: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
}
.team-fs {
  text-align: center;
  padding-top: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
}
.address {
  padding-bottom: 60px;
}
.address .add-list + .add-list {
  margin-top: 9px;
}
.adr-list {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
}
.adr-list:hover,
.adr-list:focus {
  color: var(--hover-focus);
}
.filter-btn button {
  color: #212121;
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  background-color: #f5f4fa;
  border: none;
  border-radius: 4px;
  font-family: roboto;
  cursor: pointer;
  line-height: 1.625;
}
.filter-btn {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  margin-bottom: 50px;
  list-style: none;
}
.filter-btn .btn-variant + .btn-variant {
  margin-left: 8px;
}
.btn:hover,
.btn:focus {
  color: var(--bgcolor);
  background-color: var(--hover-focus);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}
.btn:active {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
}
.examples {
  display: flex;
  flex-wrap: wrap;
  /* width: calc((100%-60px) / 3); */
  padding-bottom: 94px;
}
.list > p {
  font-size: 16px;
  font-weight: 400;
}
.list .poster-name {
  font-size: 18px;
  font-weight: 700;
}
.poster-name {
  margin-top: 20px;
  margin-left: 24px;
}
.category-src {
  margin-top: 4px;
  margin-left: 24px;
  padding-bottom: 20px;
}
.examples-list {
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}
.examples-list:nth-child(3n) {
  margin-right: 0;
}
.examples-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
